process {
    withName: '.*:ALIGN_STAR:STAR_ALIGN' {
        ext.args = [
            '--quantMode TranscriptomeSAM',
            '--twopassMode Basic',
            '--outSAMtype BAM SortedByCoordinate',
            '--readFilesCommand zcat',
            '--runRNGseed 0',
            '--outFilterMultimapNmax 1',
            '--outFilterMismatchNmax 2',
            '--outFilterScoreMinOverLread 0',
            '--outFilterMatchNminOverLread 0',
            '--alignIntronMin 20',
            '--alignIntronMax 1000000',
            '--alignMatesGapMax 1000000',
            '--alignSJoverhangMin 8',
            '--outFilterMismatchNoverLmax 0.04',
            '--alignSJDBoverhangMin 1',
            '--outSAMattributes NH HI AS NM MD',
            '--outSAMunmapped Within',
        ].join(' ').trim()
    }
 
    withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        ext.args = [
            '--length 25',
            '-q 30',
            '--stringency 10',
            '--clip_R1 1',
            '--clip_R2 1',
        ].join(' ').trim()
    }
}


